<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS_PY</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</head>
<body>


    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Customer Relational Management Software</h1>

        <form class="ui form" action="/add_company" method="post">
            <div class="field">
                <label><h1>Company name</h1></label>
                <input type="text" name="company_name" placeholder="enter company name">
                <label><h1>phone</h1></label>
                <input type="text" name="company_phone" placeholder="enter phone number">
                <label><h1>industry</h1></label>
                <input type="text" name="company_industry" placeholder="enter industry of the company">
                <label><h1>Additional info</h1></label>
                <input type="text" name="company_addinfo" placeholder="enter additional information">
            </div>
            <button class="ui green button" type="submit">Add Company</button>
        </form>

    {% include 'notifications.html' %}

         {% for comp in company_list %}
        <div>
            <p class="ui segment">{{ comp.id }} | {{ comp.name }} | {{ comp.addit_info }} | Obecny status: {{ comp.status }}
            <br><a class="ui blue button" href="/update_status/{{ comp.id }}">Update Status</a>
            <a class="ui yellow button" href="/archive this company/{{ comp.id }}">Archive</a></p>

        </div>
        {% endfor %}

        {% for meet in meeting_list %}
        <div>
            <p class="ui segment">{{ meet.id }} | {{ meet.date }} | {{ meet.time }}</p>
            <!--    here, code that indicates- what else will be in segment of single meeting on page.-->
            <!--    remember to display here company name, by linking phone_num. Get company name from Company table.-->
        </div>
        {% endfor %}
    </div>
</body>
</html>